.rich-editor {
  padding: 1rem;
 }
.rich-editor .rdw-editor-main {
  background-color: #fff;
 }
.rich-editor .DraftEditor-editorContainer {
  padding: 1rem;
 }
.draft-editor-wrapper {
  border: 1px solid #ccc;
  background-color: #fff;
  margin-bottom: 10px;
}
.html-view {
  background-color: #fff;
  color: #000;
  margin: auto;
  width: 70%;
  margin-bottom: 2rem;
 }
h4 {
 color: '#gray';
}

/* treevie menu style */
div {
  background-color: transparent;
  border: 0px solid #000;
}

.rstm-toggle-icon {
  display: inline-block; 
  /* background-color: #343a40; */
}
.rstm-toggle-icon-symbol {
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem; 
  font-weight: bold;
  
}

.rstm-tree-item-group {
  list-style-type: none;
  padding-left: 0;
  border-top: 2px solid red;
  text-align: left;
  width: 100%;
  /* background: #343a40;  */
}

.rstm-tree-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #343a40;
  background: transparent;
  border-bottom: 0px solid #ccc;
  box-shadow: none;
  z-index: unset;
  position: relative; 
}

.rstm-tree-item--active {
  color: white;
  background: #007bff;
  border: 1px solid #343a40; 
}

.rstm-tree-item--focused {
  box-shadow: 0 0 5px 0 #222;
  z-index: 999; 
}

.rstm-search {
  padding: 1rem 1.5rem;
  border: none;
  width: 100%; 
}